 <div class="instax noContextMenu">
               <a href={{path('pattern_show',  {'slug':pattern.slug})}} class="noContextMenu"><img class="noContextMenu" src="../../uploads/{{pattern.cover}}" alt="image de "></a>
                <div class="instaxContent">
                    <div class="instaxTitle">
                    <h6>Collection - {{pattern.title}}</h6>
                    <p><i>par {{pattern.idUser.pseudo}}</i></p>
                    </div>
                    
                    {% if app.user %}
                        {% if pattern.likes | length==0 %}
                            <a href="{{path('like', {'id': pattern.id})}}">
                                <div class="like">
                                    <i class="fa-regular fa-heart"></i>
                                </div>
                            </a>
                        {% else %}
                            {% for like in pattern.likes %}
                                {% if like.user.id == app.user.id%}
                                    <a href="{{path('unlike', {'id': like.id})}}">
                                        <div class="like">
                                            <i class="fa-solid fa-heart"></i>
                                        </div>
                                    </a>
                                {% else %}
                                    <a href="{{path('like', {'id': pattern.id})}}">
                                        <div class="like">
                                            <i class="fa-regular fa-heart"></i>
                                        </div>
                                    </a>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        
                    {% endif %}
                    
                    
                </div>
</div>

{% block javascripts %}
    {{encore_entry_script_tags('like')}}
{% endblock %}