 <div class="instax noContextMenu">
               <a href={{path('pattern_show',  {'slug':pattern.slug})}} class="noContextMenu" style="cursor: unset">
               <img class="filigrane" src="../../images/filigrane.png" alt="">
               <img class="noContextMenu" src="../../uploads/{{pattern.cover}}" alt="image de "></a>
                <div class="instaxContent">
                    <div class="instaxTitle">
                    <h6>{{pattern.title}}</h6>
                    <p><i>par {{pattern.idUser.pseudo}}</i></p>
                    </div>
                    
                </div>

                 {% if app.user %}
                        {% if pattern.likes | length == 0 %}
                            <a href="{{path('like', {'id': pattern.id, 'action': 'add'})}}" class="heart" data-action="like" data-like="false">
                                <div class="like">
                                    <i class="fa-heart fa-solid"></i>
                                </div>
                            </a>
                        {% else %}
                            {% for like in pattern.likes %}
                                {% if like.user.id == app.user.id%}
                                    <a href="{{path('like', {'id': pattern.id, 'action': 'remove'})}}" class="heart blush" data-action="like" data-like="true">
                                    <div class="like">
                                        <i class="fa-heart fa-solid"></i>
                                    </div>
                            </a>
                                {% else %}
                                    <a href="{{path('like', {'id': pattern.id, 'action': 'add'})}}" class="heart" data-action="like" data-like="false">
                                    <div class="like">
                                      <i class="fa-heart fa-solid"></i>
                                    </div>
                            </a>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        
                    {% endif %}
</div>

{% block javascripts %}
    {{encore_entry_script_tags('like')}}
{% endblock %}