<div id="pins">
   <i class="fa-solid fa-arrow-up"></i>
</div>
<footer>
    <div id="tab"><i class="fa-solid fa-arrow-down"></i></div>
    <div id="footContent">
        <img src={{asset('images/miniLogo.png')}} id="footLogo" alt="">
        <div id="conditions">
            <a href="{{path('legacy')}}">Conditions générales</a>
            <a href="{{path('legacy')}}">Confidentialité</a>
            <a href="{{path('legacy')}}">Gestion des données</a>
        </div>
        <div id="socialMedia"> Réseaux Sociaux</div>
    </div>
    <div id="copyright"> &copy Copyright MAUTIF 2022 - Créé par MDsign </div>
</footer>

{% block javascripts %}
    {{encore_entry_script_tags('footer')}}
{% endblock %}