<div id="pins">
   
   <p style="font-size:20pt"><b>?</b></p>
</div>
<footer>
    <div id="tab"><i class="fa-solid fa-arrow-down"></i></div>
    <div id="footContent">
        <img src={{asset('images/miniLogo.png')}} id="footLogo" alt="">
         <div id="socialMedia"> </div>
        <div id="conditions">
            <a href="{{path('legacy')}}">Mentions légales</a>
            <a href="{{path('conditions')}}">Conditions générales</a>
            {% if app.user %}
                {% if app.user.roles[0] != "ROLE_ADMIN" %}
                    <a href="{{path('confirm_unsub')}}">Me désinscrire</a>
                {% endif %}
            {% endif %}
            
        </div>
       
    </div>
    <div id="copyright"> &copy Copyright MAUTIF 2022 - Créé par MDsign </div>
</footer>

{% block javascripts %}
    {{encore_entry_script_tags('footer')}}
{% endblock %}