{% extends 'base.html.twig' %}

{% block title %}Editition d'un motif{% endblock %}

{% block body %}
    
    {% include "partials/intro.html.twig" %}
    <div class="slide fil">
        <h2>Modification du motif "{{pattern.title}}"</h2>
        <a href={{path('patterns_index')}}><button class="backButton"> <i class="fa-solid fa-camera-retro"></i> Retour à la galerie</button></a>
        {{form_start(myform)}}
        {{form_widget(myform.submit)}}

        <div class="addContainer">
            
            <div class="left">
                 <div class="instax">
                    <div class="contentInstax">
                        <img src="./uploads/{{pattern.cover}}" alt="image de {{pattern.slug}}">
                    </div>
                    
                </div>
                
            </div>
            <div class="right">
                {{form_row(myform.title)}}
                {{form_row(myform.theme)}}
                {{form_row(myform.dominantColor)}}
                {{form_row(myform.description)}}
                {{form_row(myform.license)}}
                {{form_end(myform)}}
            </div>
            
        </div>
        
        <hr class="sep">
        
       
       
    </div>
    
{% endblock %}

{% block javascripts %}
    
{% endblock %}
