{% extends 'base.html.twig' %}

{% block title %}Patterns{% endblock %}

{% block body %}
    {% include "partials/intro.html.twig" %}

    <div class="slide fil">
        <h2>Bienvenue dans le patchwork !</h2>
        {% include "partials/filter.html.twig" %}

        <div class="filContainer">
       
            <div class="instax">
                <a href={{path('pattern_show')}}><img src={{asset('images/motif.jpeg')}} alt="image de "></a>
                <div class="instaxContent">
                    <div class="instaxTitle">
                    <h6>Végétaux de Noël</h6>
                    <p><i>MDsign</i></p>
                    </div>
                    <div class="heart"><i class="coeur fa-regular fa-heart"></i></div>
                </div>
            </div>
            <div class="instax">
                <img src={{asset('images/motif.jpeg')}} alt="">
                <div class="instaxContent">
                    <div class="instaxTitle">
                    <h6>Title</h6>
                    <p><i>Pseudo Auteur</i></p>
                    </div>
                    <div class="heart"><i class="coeur fa-regular fa-heart"></i></div>
                </div>
            </div> <div class="instax">
                <img src={{asset('images/motif.jpeg')}} alt="">
                <div class="instaxContent">
                    <div class="instaxTitle">
                    <h6>Title</h6>
                    <p><i>Pseudo Auteur</i></p>
                    </div>
                    <div class="heart"><i class="coeur fa-regular fa-heart"></i></div>
                </div>
            </div> <div class="instax">
                <img src={{asset('images/motif.jpeg')}} alt="">
                <div class="instaxContent">
                    <div class="instaxTitle">
                    <h6>Title</h6>
                    <p><i>Pseudo Auteur</i></p>
                    </div>
                    <div class="heart"><i class="coeur fa-regular fa-heart"></i></div>
                </div>
            </div> <div class="instax">
                <img src={{asset('images/motif.jpeg')}} alt="">
                <div class="instaxContent">
                    <div class="instaxTitle">
                    <h6>Title</h6>
                    <p><i>Pseudo Auteur</i></p>
                    </div>
                    <div class="heart"><i class="coeur fa-regular fa-heart"></i></div>
                </div>
            </div> <div class="instax">
                <img src={{asset('images/motif.jpeg')}} alt="">
                <div class="instaxContent">
                    <div class="instaxTitle">
                    <h6>Title</h6>
                    <p><i>Pseudo Auteur</i></p>
                    </div>
                    <div class="heart"><i class="coeur fa-regular fa-heart"></i></div>
                </div>
            </div>
           
        </div>

    </div>

    
{% endblock %}

{% block javascripts %}
    
{% endblock %}
