{% extends "base.html.twig" %}

{% block title %}Motif {{pattern.title}}{% endblock %}



{% block body %}
   
    {% include "partials/intro.html.twig" %}
    <div class="slide fil">
        <h2>"{{pattern.title}}" <i>par {{pattern.idUser.pseudo}}</i></h2>
        <a href={{path('patterns_index')}}><button class="backButton">Retour à la galerie</button></a>
        <div class="showContent">
            <div class="left">
                <a href="uploads/{{pattern.cover}}" target="_blank">
                {% include "partials/_instaxProtect.html.twig" %}
                </a>
            </div>
            <div class="right">
                <p class="theme">{{pattern.theme}}</p>
                <h4>Collection - {{pattern.title}}</h4>
                <h6><i>par <a href="{{path('user_profile',  {'slug':pattern.idUser.slug})}}">{{pattern.idUser.pseudo}}</a></i></h6>
                

                <h3><b>Description</b></h3>
                <p>{{pattern.description}}</p>
                <p class="license">Licence :<b></br>{{pattern.license}}</b></p>

                {% if pattern.license == "COMMERCIALE" or pattern.license == "PRIVÉE" %}
                    <a href="/uploads/{{pattern.cover}}" download="{{pattern.title}}.jpeg"><button class="uploadBtn"><i class="fa-solid fa-file-arrow-down"></i> Télécharger le motif </button></a>
                {% else %}
                    <a href="" ><button class="uploadBtn"><i class="fa-regular fa-paper-plane"></i> Contacter {{pattern.idUser.pseudo}}</button></a>
                {% endif%}
            </div>
        </div>

        <hr class="sep" >

        <div class="galery">
            <h5>Galerie d'inspirations</h5>

            {# <div class="slider">
                <div class="picture"></div>
                <div class="picture"></div>
                <div class="picture"></div>
            </div> #}
            <div class="container">
            {% if pattern.galeries | length > 0 %}
              
                 
                    <div class="carousel-inner">
                        {% for galery in pattern.galeries %}
                        
                                <div class="item">
                                {% if app.user %}
                                    {% if app.user == galery.author or app.user.roles[0] == "ROLE_ADMIN"%}
                                        <a href="{{path('delete_galery',{'id': galery.id})}}" class="btn deleteBtn" style="z-index:500; position:absolute"><i class="fa-solid fa-trash"></i></a>    
                                    {% endif %}
                                {% endif %}
                                <img src="../uploads/{{galery.picture}}" class="d-block w-100" alt="image de {{pattern.title}}" >
                                </div>
                       
                            
                        {% endfor %}
                    
                    </div>
                    
                
                {% if app.user %}
                    <a  href="{{path('add_galery',{"slug":pattern.slug})}}" style="color: black; text-decoration: none"><button >Ajouter une inspiration</button></a>
                      
                {% else %}
                    <a href="{{path('account_login')}}" style="color: black; text-decoration: none"><button>Je me connecte</button></a>
                    <a href="{{path('account_register')}}" style="color: black; text-decoration: none"><button>Je n'ai pas de compte</button></a>
                {% endif %}
            {% else %}
                <p>Aucun créateur n'a posté d'inspiration pour l'instant !</p>
                <p><b>Sois le premier à poster une de tes réalisations !</b></p>
                {% if app.user %}
                    <a  href="{{path('add_galery',{"slug":pattern.slug})}}" style="color: black; text-decoration: none"><button>Ajouter une inspiration</button></a>
                      
                {% else %}
                    <a href="{{path('account_login')}}" style="color: black; text-decoration: none"><button>Je me connecte</button></a>
                    <a href="{{path('account_register')}}" style="color: black; text-decoration: none"><button>Je n'ai pas de compte</button></a>
                {% endif %}
                
            {% endif %}
            </div>
        </div>
    </div>
   
{% endblock %}

{% block javascripts %}
   
{% endblock %}

