{% extends "base.html.twig" %}

{% block title %}Motif {{pattern.title}}{% endblock %}



{% block body %}
   
    {% include "partials/intro.html.twig" %}
    <div class="slide fil">
        <h2>"{{pattern.title}}" <i>par {{pattern.idUser.pseudo}}</i></h2>
        <a href={{path('patterns_index')}}><button class="backButton btn">Retour à la galerie</button></a>
        <div class="showContent">
            <div class="left">
                <a href="uploads/{{pattern.cover}}" target="_blank">
                {% include "partials/_instaxProtect.html.twig" %}
                </a>
                <a href="{{path('signaler',{'id': pattern.id})}}" class="signaler"><i class="fa-solid fa-bell-concierge"></i> Signaler</a>
            </div>
            <div class="right">
                <p class="theme">{{pattern.theme}}</p>
                <h4>Collection - {{pattern.title}}</h4>
                {% if app.user %}
                    {% if app.user.id != pattern.idUser.id %}
                        <h6><i>par <a href="{{path('user_profile',  {'slug':pattern.idUser.slug})}}">{{pattern.idUser.pseudo}}</a></i></h6>
                    {% else %}
                        <h6><i>par <a href="{{path('user_profile',  {'slug':pattern.idUser.slug})}}">Vous</a></i></h6>
                        
                    {% endif %}
                {% endif %}

                <h3><b>Description</b></h3>
                <p>{{pattern.description}}</p>
                <p class="license">Licence :<b></br>{{pattern.license}}</b></p>
                {% if app.user %}
                {% if pattern.license == "COMMERCIALE" or pattern.license == "PRIVÉE" %}
                    <a href="/uploads/{{pattern.cover}}" download="{{pattern.title}}.jpeg"><button class="uploadBtn btn"><i class="fa-solid fa-file-arrow-down"></i> Télécharger le motif </button></a><br>
                    {% if app.user.id != pattern.idUser.id %}
                        <a href="{{path('contact',{'id':pattern.idUser.id})}}"><button class="uploadBtn btn"><i class="fa-regular fa-paper-plane"></i> Contacter {{pattern.idUser.pseudo}}</button></a>
                    {% endif %}
                {% else %}
                    {% if app.user.id != pattern.idUser.id %}
                        <a href="{{path('contact',{'id':pattern.idUser.id})}}"><button class="uploadBtn btn"><i class="fa-regular fa-paper-plane"></i> Contacter {{pattern.idUser.pseudo}}</button></a>
                    {% endif %}
                {% endif%}
                {% else %}
                    <br><p>Connectez-vous pour télécharger le motif ou contacter l'auteur...</p>
                    <a href="{{path('account_login')}}" style="color: black; text-decoration: none"><button class="btn">Je me connecte</button></a>
                    <br><a href="{{path('account_register')}}" style="color: black; text-decoration: none"><button class="btn">Je n'ai pas de compte</button></a>
                {% endif%}
            </div>
        </div>

        <hr class="sep" >

        <div class="galery">
            <h5>Galerie d'inspirations</h5>
            <p style="padding-bottom: 50px; width: 80%; margin: 0 auto">Tu trouveras ici, les réalisations de créateurs qui se sont inspirés de ce motif ou qui l'ont utilisé pour créer de nombreuses choses ! Si toi aussi, tu t'en es inspiré, n'hésite pas à poster ta réalisation !</p>
            {# <div class="slider">
                <div class="picture"></div>
                <div class="picture"></div>
                <div class="picture"></div>
            </div> #}
            <div class="container">
            {% if pattern.galeries | length > 0 %}
                    {% if pattern.galeries | length > 2 %}
                    <img src={{asset('images/scroll.png')}} alt="">
                    {% endif %}
                    <div class="carousel-inner">
                    
                        {% for galery in pattern.galeries %}
                        
                                <div class="item">
                                {% if app.user %}
                                    {% if app.user == galery.author or app.user.roles[0] == "ROLE_ADMIN"%}
                                        <a href="{{path('delete_galery',{'id': galery.id})}}" class="btn deleteBtn" style="z-index:500; position:absolute"><i class="fa-solid fa-trash"></i></a>    
                                    {% endif %}
                                {% endif %}
                                <img src="../uploads/{{galery.picture}}" class="d-block w-100" alt="image de {{pattern.title}}" >
                                </div>
                       
        
                        {% endfor %}
                       
                    </div>
                    
                
                {% if app.user %}
                    <a  href="{{path('add_galery',{"slug":pattern.slug})}}" style="color: black; text-decoration: none"><button class="btn">Ajouter une inspiration</button></a>
                      
                {% else %}
                    <a href="{{path('account_login')}}" style="color: black; text-decoration: none"><button class="btn">Je me connecte</button></a>
                    <a href="{{path('account_register')}}" style="color: black; text-decoration: none"><button class="btn">Je n'ai pas de compte</button></a>
                {% endif %}
            {% else %}
                <p>Aucun créateur n'a posté d'inspiration pour l'instant !</p>
                <p><b>Sois le premier à poster une de tes réalisations !</b></p>
                {% if app.user %}
                    <a  href="{{path('add_galery',{"slug":pattern.slug})}}" style="color: black; text-decoration: none"><button class="btn">Ajouter une inspiration</button></a>
                      
                {% else %}
                    <a href="{{path('account_login')}}" style="color: black; text-decoration: none"><button class="btn">Je me connecte</button></a>
                    <a href="{{path('account_register')}}" style="color: black; text-decoration: none"><button class="btn">Je n'ai pas de compte</button></a>
                {% endif %}
                
            {% endif %}
            </div>
        </div>
    </div>
   
{% endblock %}

{% block javascripts %}
   
{% endblock %}

