{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <div class="slide" id="home">
       <div id="homeContent">
            <div id="homeContainer">
                <img src={{asset('images/Logo.png')}} id="homeLogo" alt="Logo">
                <h2>Bienvenue dans la jungle aux motifs</h2>
            </div>
            <div id="click">
                <p>Cliquez pour continuer</p>
                 <img src={{asset('images/click.png')}} alt="" >
            </div>    
            <div id="more">
                <p>Comment ça marche ?</p>
                <img src={{asset('images/moreButton.png')}} alt="">
            </div>
       </div>

        <img id="feuille3" src={{asset('images/feuillage.png')}} alt="">
        <img id="feuille1" src={{asset('images/feuilleTopLeft.png')}} alt="">
        <div id="feuille2"></div>
        <img id="feuille4" src={{asset('images/feuille4.png')}} alt="">
    </div>
    

    <div class="slide" id="about">
        <h1>Imaginez, créez, postez...</h1>
        <div class="aboutContainer"> 
            <div class="left">
                <img src={{asset('images/aboutImage.png')}} alt="">
            </div>
            <div class="right">
                <h5>Comment ça marche ?</h5>
                <p><span class="number">1</span> Imaginez votre motif</p>
                <p><span class="number">2</span> Créez votre motif à l’aide d’un logiciel 
tel que </br>ProCreate, Illustrator, Affinity Designer...</p>
                <p><span class="number">3</span> Exportez votre motif en jpeg ou png de taille 2048 sur 2048 pixels</p>
                <p><span class="number">4</span> Postez votre motifs et observez les réactions </p>
            </div>
        </div>
        <h3>Partagez, aimez et inspirez-vous !</h3>
        <p id="emploi">Surfez dans la galerie, likez les créations d’autres utilisateurs, développez votre réseau et inspirez-vous...
mais surtout amusez-vous&nbsp!  </p>
        <a href={{path('patterns_index')}}><button>C'est parti ! →</button></a>
    </div>

    
{% endblock %}

{% block javascripts %}
    {{encore_entry_script_tags('home')}}
{% endblock %}