{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    {% include "partials/_cookies.html.twig" %}
    <div class="slide" id="home">
       <div id="homeContent">
            <div id="homeContainer">
                <img src={{asset('images/Logo.png')}} id="homeLogo" alt="Logo">
                <h2>Bienvenue dans la jungle aux motifs</h2>
            </div>
            <div id="click">
                <p>Scrollez pour continuer</p>
                 <img src={{asset('images/click.png')}} alt="" >
            </div>    
            <div id="more">
                <a href={{path("homepage")}}#about>
                <p>Comment ça marche ?</p>
                <img src={{asset('images/moreButton.png')}} alt="">
                </a>
            </div>
       </div>
       
    </div>
     <div id="feuillage">
            <img id="feuille3" src={{asset('images/feuillage.png')}} alt="">
            <img id="feuille1" src={{asset('images/feuilleTopLeft.png')}} alt="">
            <img id="feuille2" src={{asset('images/feuillage2.png')}} alt="">
            <img id="feuille4" src={{asset('images/feuilleTopLeft(2).png')}} alt="">
        </div>
        

    <div class="slide" id="about">
        <h1>Imaginez, créez, postez...</h1>
        <div class="aboutContainer"> 
            <div class="left">
                <img src={{asset('images/aboutImage.png')}} alt="">
            </div>
            <div class="right">
                <h5>Comment ça marche ?</h5>
                <p><span class="number">1</span> Imaginez votre motif</p>
                <p><span class="number">2</span> Créez votre motif à l’aide d’un logiciel 
tel que </br>ProCreate, Illustrator, Affinity Designer...</p>
                <p><span class="number">3</span> Exportez votre motif en jpeg ou png de taille 2048 sur 2048 pixels</p>
                <p><span class="number">4</span> Postez votre motifs et observez les réactions </p>
            </div>
        </div>
        <h3>Partagez, likez et inspirez-vous !</h3>
        <p id="emploi">Surfez dans le patchwork, likez les créations d’autres utilisateurs, développez votre réseau et inspirez-vous...
mais surtout amusez-vous&nbsp!  </p>
        

    <h3 style="text-align: center; margin-top:30px" >Voici les trois pépites les plus likées...</h3>
    <div class="filContainer" id="topPattern">
        
        {% for patternData in patterns %}
                {% include "./partials/_instax.html.twig" with {'pattern': patternData.0} %}
        {% endfor %}
        
    </div>
        <a style="margin-top:-150px !important" href={{path('patterns_index')}} id="patchwork"><button><i class="fa-solid fa-camera"></i> Voir le patchwork →</button></a>

    </div>

    
{% endblock %}

{% block javascripts %}
    {{encore_entry_script_tags('home')}}
    {{ encore_entry_script_tags('cookies') }}

{% endblock %}