{% extends 'base.html.twig' %}

{% block title %}Profil de {{user.pseudo}}{% endblock %}

{% block body %}
    {% include "partials/intro.html.twig" %}
    

    <div class="slide fil">
       
        {% if app.user %}
            {% if app.user.id == user.id %}
                <h2>Votre profil </h2>
            {% endif %}
        {% endif %}
        <div id="actions">
        {% if is_granted('ROLE_USER')  %}
            {% if app.user.id == user.id or app.user.roles[0]=="ROLE_ADMIN" %}
                <a href="{{path('account_profile',{'slug' : user.slug})}}"><button class="btn"><i class="fa-solid fa-pen-to-square"></i> Modifier les informations </button></a>
                <a href="{{path('avatar_edit', {'slug': user.slug})}}"><button class="btn"><i class="fa-solid fa-user"></i> Modifier l'avatar</button></a>
               
            {% endif %}
        {% endif %}
        {% if app.user %}
             {% if app.user.id == user.id %}
                <a href="{{path('account_password',{'slug' : user.slug})}}"><button class="btn"><i class="fa-solid fa-pen-to-square"></i> Modifier le mot de passe </button></a>
            {% endif %}
        {% endif %}
       {% if app.user %}
            {% if (app.user.roles[0] == "ROLE_ADMIN") and (app.user.id != user.id) %}
                <a href="{{path('new_mdp',{'slug' : user.slug})}}"><button class="btn"><i class="fa-solid fa-pen-to-square"></i> Envoyer un code de récupération de mot de passe </button></a>
            {% endif %}
        {% endif %}
        {% if app.user %}
                {% if app.user.roles[0] != "ROLE_ADMIN" %}
                    <a href="{{path('confirm_unsub',{'id': app.user.id})}}"><button class="btn">Me désinscrire</button></a>
                {% endif %}
        {% endif %}
       </div>
       
         
        <a href={{path('patterns_index')}}><button class="backButton btn"> <i class="fa-solid fa-camera-retro"></i> Retour à la galerie</button></a>
        
        <div class="profileContent">
            <div class="left">
                {% if user.avatar %}
                    <img id="avatar" src="../uploads/{{user.avatar}}" alt="">
                {% else %}
                    <img id="avatar" src="../images/director.png" alt="">
                {% endif %}
                
            </div>
            <div class="right">
                <h5>Pseudo</h5>
                <p>{{user.pseudo}}</p>
                <h5>Email</h5>
                {% if app.user %}
                    {% if app.user.id == user.id  %}
                        {{user.email}}
                    {% else %}
                        <p>En cliquant sur ce bouton, <b>{{user.pseudo}} </b> sera notifié par mail de votre demande de contact. <br>Attendez son mail de réponse !</p>
                        <a href="{{path('contact',{'id':user.id})}}" style="color: white"><button class="uploadBtn btn">Contacter {{user.pseudo}}</button></a>
                    {% endif %} 
                {% else %}
                        
                         <a href="{{path('contact',{'id':user.id})}}" style="color: white"><button class="uploadBtn btn">Contacter l'utilisateur</button></a>
                
                {% endif %}
                
                <h5>Introduction</h5>
                <p>{{user.introduction}}</p>
                
            </div>
        </div>

        <hr class="sep" >
        <div id="create">
            <h4>Créations récentes</h4>
            
               <div class="filContainer">
                    {% for pattern in patterns %}
                        {% include "./partials/_instax.html.twig" %}
                    {% endfor %}
                </div>
                {% if patterns | length==0 %}
                    {% if app.user.id == user.id %}
                        <p style="text-align: center">Vous n'avez pas encore publié de créations ! </p>
                    {% else %}
                        <p style="text-align: center">L'utilisateur n'a pas encore publié de créations ! Revenez plus tard vous aurez peut-être de bonnes surprises...</p>
                    {% endif %}
                    
                {% else %}
                    <a href="{{path('user_patterns', {'slug': user.slug})}}" id="userCreation">Voir toutes les créations > </a>
                {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{encore_entry_script_tags('slider')}}
{% endblock %}
