{% extends 'base.html.twig' %}

{% block title %}Profil de {{user.pseudo}}{% endblock %}

{% block body %}
    {% include "partials/intro.html.twig" %}
    <div class="slide fil">
        {% if user.email == app.user.email %}
            <h2>Votre profil</h2>
        {% else %}
             <h2> Profil de <i>{{user.pseudo}}</i></h2>
        {% endif %}

         <a href={{path('patterns_index')}}><button class="backButton">Retour à la galerie</button></a>

        {% if user.id == app.user.id %}
            <a href="#"><button>Modifier mes informations </button></a>
        {% endif %}

       
        <div class="profileContent">
            <div class="left">
                {% if user.avatar %}
                    <img src="../uploads/{{user.avatar}}" alt="">
                {% else %}
                    <img src="../images/director.png" alt="">
                {% endif %}
                
            </div>
            <div class="right">
                <p>{{user.pseudo}}</p>
                <h5>{{user.email}}</h5>
                <h5>Description</h5>
                <p>{{user.introduction}}</p>
                <p>{{user.slug}}</p>
            </div>
        </div>

        <hr class="sep" >
        <div id="create">
            <h4>Créations récentes</h4>
             <div class="container">
             {% if app.user.id == user.id %}
                {% if patterns | length %}
                    <p>Vous n'avez pas encore de créations</p>
                    <p>Vous pouvez soit découvrir comment créer <a href="{{path('homepage')}}#about">ICI</a> ou bien poster votre toute première création !</p>
                    <a href="{{path('pattern_add')}}"><button>Postez votre première création</button></a>
                {% else %}
                    {% for pattern in patterns %}
                        {% if pattern.idUser.id == user.id %}
                            {% include "pattern/_instax.html.twig" %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% else %}
                <div class="filContainer">
                    {% for pattern in patterns %}
                        {% if pattern.idUser.id == user.id %}
                            {% include "pattern/_instax.html.twig" %}
                        {% endif %}
                    {% endfor %}
                </div> 
            {% endif %}
             
               
             </div>
           
        </div>
        <hr class="sep" >
        <div id="favorites">
            <h4>Derniers likes </h4>
            <div class="filContainer">

            </div>
        </div>
    </div>
{% endblock %}
