{% extends 'base.html.twig' %}

{% block title %}Profil de {{user.pseudo}}{% endblock %}

{% block body %}
    {% include "partials/intro.html.twig" %}
    <div class="slide fil">
        
        {% if is_granted('ROLE_USER')  %}
            {% if app.user.id == user.id or app.user.roles[0]=="ROLE_ADMIN" %}
                <a href="#"><button>Modifier les informations </button></a>
               
            {% endif %}
        {% endif %}
         
        <a href={{path('patterns_index')}}><button class="backButton">Retour à la galerie</button></a>
        
        <div class="profileContent">
            <div class="left">
                {% if user.avatar %}
                    <img id="avatar" src="../uploads/{{user.avatar}}" alt="">
                {% else %}
                    <img id="avatar" src="../images/director.png" alt="">
                {% endif %}
                
            </div>
            <div class="right">
                <h5>Pseudo</h5>
                <p>{{user.pseudo}}</p>
                <h5>Email</h5>
                <p>{{user.email}}</p>
                <h5>Introduction</h5>
                <p>{{user.introduction}}</p>
                
            </div>
        </div>

        <hr class="sep" >
        <div id="create">
            <h4>Créations récentes</h4>
             <div class="container">
                <div class="filContainer">
                        {% for pattern in patterns %}
                            {% if pattern.idUser.id == user.id %}
                                {% include "pattern/_instax.html.twig" %}
                            {% endif %}
                        {% endfor %}
                        {% if patterns | length==[] %}
                            <p>Pas de créations à afficher</p>
                        {% endif %}
                </div>  
                <a href="{{path('user_patterns', {'slug': user.slug})}}">En voir plus</a>
                
                
                
             </div>
           
        </div>
        <hr class="sep" >

        {# <div id="favorites">
            <h4>Derniers likes </h4>
            <div class="container">
                <div class="filContainer">

                </div>
                <a href="#">En voir plus</a>
            </div>
        </div> #}

    </div>
{% endblock %}
