{% extends 'base.html.twig' %}

{% block title %}Profil de {{user.pseudo}}{% endblock %}

{% block body %}
    {% include "partials/intro.html.twig" %}
    <div class="slide fil">
        
        {% if is_granted('ROLE_USER')  %}
            {% if app.user.id == user.id or app.user.roles[0]=="ROLE_ADMIN" %}
                <a href="{{path('account_profile',{'slug' : user.slug})}}"><button><i class="fa-solid fa-pen-to-square"></i> Modifier les informations </button></a>
                <a href="{{path('account_password',{'slug' : user.slug})}}"><button><i class="fa-solid fa-pen-to-square"></i> Modifier le password </button></a>
                <a href="{{path('avatar_edit', {'slug': user.slug})}}"><button><i class="fa-solid fa-user"></i> Modifier l'avatar</button></a>
               
            {% endif %}
        {% endif %}
         
        <a href={{path('patterns_index')}}><button class="backButton"> <i class="fa-solid fa-camera-retro"></i> Retour à la galerie</button></a>
        
        <div class="profileContent">
            <div class="left">
                {% if user.avatar %}
                    <img id="avatar" src="../uploads/{{user.avatar}}" alt="">
                {% else %}
                    <img id="avatar" src="../images/director.png" alt="">
                {% endif %}
                
            </div>
            <div class="right">
                <h5>Pseudo</h5>
                <p>{{user.pseudo}}</p>
                <h5>Email</h5>
                <p>{{user.email}}</p>
                <h5>Introduction</h5>
                <p>{{user.introduction}}</p>
                
            </div>
        </div>

        <hr class="sep" >
        <div id="create">
            <h4>Créations récentes</h4>
               <div class="wrapper">
                <div class="arrows" id="left">
                    <i  class="fa-solid fa-angle-left"></i>
                </div>
                    
                    <div class="caroussel">
                        {% for pattern in patterns %}
                                {% if pattern.idUser.id == user.id %}
                                    <img src="/uploads/{{pattern.cover}}" alt="" draggable="false">
                                {% endif %}
                        {% endfor %}
                            
                        {% if patterns | length==[] %}
                            <p>Pas de créations à afficher</p>
                        {% endif %}
                    </div> 
                <div class="arrows" id="right">
                    <i  class="fa-solid fa-angle-right"></i>
                </div>
                </div>
                        
                <a href="{{path('user_patterns', {'slug': user.slug})}}">Voir toutes ses créations > </a>
                
        </div>
      



        {# <div id="favorites">
            <h4>Derniers likes </h4>
            <div class="container">
                <div class="filContainer">

                </div>
                <a href="#">En voir plus</a>
            </div>
        </div> #}



    </div>
{% endblock %}

{% block javascripts %}
    {{encore_entry_script_tags('slider')}}
{% endblock %}
