{% extends 'base.html.twig' %}

{% block title %}Profil de {{user.pseudo}}{% endblock %}

{% block body %}
    {% include "partials/intro.html.twig" %}
    

    <div class="slide fil">
        {% if app.user.id == user.id %}
            <h2>Votre profil </h2>
        {% endif %}
        <div id="actions">
        {% if is_granted('ROLE_USER')  %}
            {% if app.user.id == user.id or app.user.roles[0]=="ROLE_ADMIN" %}
                <a href="{{path('account_profile',{'slug' : user.slug})}}"><button><i class="fa-solid fa-pen-to-square"></i> Modifier les informations </button></a>
                <a href="{{path('avatar_edit', {'slug': user.slug})}}"><button><i class="fa-solid fa-user"></i> Modifier l'avatar</button></a>
               
            {% endif %}
        {% endif %}
        {% if app.user %}
             {% if app.user.id == user.id %}
                <a href="{{path('account_password',{'slug' : user.slug})}}"><button><i class="fa-solid fa-pen-to-square"></i> Modifier le mot de passe </button></a>
            {% endif %}
        {% endif %}
       {% if app.user %}
            {% if app.user.roles[0] == "ROLE_ADMIN" %}
                <a href="{{path('new_mdp',{'slug' : user.slug})}}"><button><i class="fa-solid fa-pen-to-square"></i> Envoyer un nouveau mot de passe </button></a>
            {% endif %}
        {% endif %}
       </div>
       
         
        <a href={{path('patterns_index')}}><button class="backButton"> <i class="fa-solid fa-camera-retro"></i> Retour à la galerie</button></a>
        
        <div class="profileContent">
            <div class="left">
                {% if user.avatar %}
                    <img id="avatar" src="../uploads/{{user.avatar}}" alt="">
                {% else %}
                    <img id="avatar" src="../images/director.png" alt="">
                {% endif %}
                
            </div>
            <div class="right">
                <h5>Pseudo</h5>
                <p>{{user.pseudo}}</p>
                <h5>Email</h5>
                {% if app.user %}
                    {% if app.user.id == user.id  %}
                        {{user.email}}
                    {% else %}
                        <a href="" style="color: white"><button class="uploadBtn">Contacter l'utilisateur</button></a>
                    {% endif %} 
                {% else %}
                         <a href="" style="color: white"><button class="uploadBtn">Contacter l'utilisateur</button></a>
                
                {% endif %}
                
                <h5>Introduction</h5>
                <p>{{user.introduction}}</p>
                
            </div>
        </div>

        <hr class="sep" >
        <div id="create">
            <h4>Créations récentes</h4>
            
               <div class="filContainer">
                    {% for pattern in patterns %}
                        {% include "./partials/_instax.html.twig" %}
                    {% endfor %}
                </div>
                        
                <a href="{{path('user_patterns', {'slug': user.slug})}}" id="userCreation">Voir toutes les créations > </a>
                
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{encore_entry_script_tags('slider')}}
{% endblock %}
