{% extends "base.html.twig" %}

{% block title %} Mes likes{% endblock %}

{% block body %}

    {% include "partials/intro.html.twig" %}
    <div class="slide fil" style="min-height:70vh">
    <h2>Vos likes </h2>
    {% if user.likes | length==0 %}
         <p style="font-size:24pt;  margin-top:150px; text-align:center;">QUOI ?!</p>
        <p style="width: 100%; text-align:center;">Vous n'avez pas encore liké de motifs !? Rendez-vous vite dans le patchwork !</p>
         <a href={{path('patterns_index')}}><button class="backButton btn"> <i class="fa-solid fa-camera-retro"></i> Retour à la galerie</button></a>
       
    {% endif %}
    {% if user.likes | length > 0 %}
    <a href={{path('patterns_index')}}><button class="backButton btn"> <i class="fa-solid fa-camera-retro"></i> Retour à la galerie</button></a>
    {% endif %}
    <div class="filContainer">
     
    {% if user.likes | length > 0 %}
        {% for pattern in user.likes %}
        
             <div class="instax noContextMenu">
                <div class="nblikes">
                    {{pattern.pattern.likes | length}}  <i class="fa-solid fa-heart"></i>
                </div>

               <a href={{path('pattern_show',  {'slug':pattern.pattern.slug})}} class="noContextMenu">
               <img class="filigrane" src="../../images/filigrane.png" alt="">
               <img class="noContextMenu" src="../../uploads/{{pattern.pattern.cover}}" alt="image de "></a>
                <div class="instaxContent">
                    <div class="instaxTitle">
                    <h6>Collection - {{pattern.pattern.title}}</h6>
                    <p><i>par {{pattern.pattern.idUser.pseudo}}</i></p>
                    </div>
                    
                </div>
                {% if app.user %}
                        {% if pattern.pattern.likes | length==0 %}
                            <a href="{{path('like', {'id': pattern.pattern.id})}}">
                                <div class="like">
                                    <i class="fa-regular fa-heart"></i>
                                </div>
                            </a>
                        {% else %}
                           
                                
                                    <a href="{{path('unlike', {'id': pattern.id})}}">
                                        <div class="like">
                                            <i class="fa-solid fa-heart"></i>
                                        </div>
                                    </a>
                               
                            
                        {% endif %}
                        
                    {% endif %}
            </div>


        {% endfor %}
    
    {% endif %}
    </div>
    </div>
    </div>
{% endblock %}